#r18_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}

#r18_warning {
  height: 13em;
  width: 30ch;
  padding: 0em 1ch;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: 1px solid black;
}

#r18_warning .fakebutton {
  padding: 0.5em 1ch;
  margin: 0 0.5ch;
  background: black;
  color: white;
  text-decoration: none;
}

.onlyjs {
  display: none;
}

